[package]
name = "xml_schema_generator"
version = "0.2.0"
description = "Create Rust struct for given XML file, that allows to deserliaze the given XML using serde or vice versa"
authors = ["Sebastian Detert <rust-crates@elygor.de>"]
edition = "2021"
license = "Apache-2.0"
repository  = "https://github.com/Thomblin/xml_schema_generator"
readme = "README.md"
keywords = ["xml", "schema", "serde", "deserliaze", "string"]
categories = ["command-line-utilities", "config", "data-structures", "encoding", "parser-implementations"]

[dependencies]
env_logger = "0.10.0"
log = "0.4.20"
quick-xml = {version="0.30.0", features = ["serialize"] }
convert_string = "0.1.2"

[dev-dependencies]
pretty_assertions = "1.4.0"